<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>

        <div data-role="page" id="page1">

            <div data-role="header">
                <h3>
                    Page1 - En haut
                </h3>
            </div>        

            <div data-role="content">
                <div data-role="page" id="page2">
                    <div data-role="header">
                        <h3>
                            Page 2 - En haut
                        </h3>
                    </div>        
                        <div data-role="content">
                        </div>
                </div>
            </div>

            <div data-role="footer" data-position="fixed">
                <h1>Page1 - En bas</h1>
            </div>              

        </div>

    </body>
</html>